body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 100vh; /* Пълна височина на екрана */
    display: flex; /* Използваме Flexbox за центриране */
    justify-content: center; /* Центрирай по хоризонтала */
    align-items: center; /* Центрирай по вертикала */
    background: url('images/books2.jpg') no-repeat center center fixed; /* Фоново изображение */
    background-size: cover; /* Покривай целия екран */
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0,7); /* Затъмняване на фона */
    z-index: 2;
}

.content {
    position: relative; /* За да може текстът да е над overlay */
    color: white; /* Цвят на текста */
    text-align: left; /* Подравни текста наляво */
    padding: 100px; /* Отстояние около съдържанието */
    width: 100%; /* Пълна ширина */
    z-index: 5; /* Увери се, че е над overlay */
}

h1 {
    font-size: 3rem; /* Размер на заглавието */
    margin: 0; /* Премахни разстоянието */
}

p {
    font-size: 1.5rem; /* Размер на девиза */
    margin-top: 10px; /* Добави малко разстояние отгоре */
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 70%); /* Затъмнение по ръбовете */
}

.signup-button {
    display: inline-block; /* Да се държи като бутон */
    background-color: white; /* Цвят на фона */
    color: darkslategrey; /* Цвят на текста */
    border: none; /* Премахване на граница */
    padding: 10px 20px; /* Отстояние */
    font-size: 1rem; /* Размер на шрифта */
    cursor: pointer; /* Курсор при задържане */
    border-radius: 5px; /* Закръглени ъгли */
    text-decoration: none; /* Премахване на подчертаване */
    margin-top: 20px; /* Отстояние над бутона */
}

/* Ховър ефект за линка */
.signup-button:hover {
    background-color: gainsboro; /* Промяна на цвета при задържане */
}


/* Стил на Sign In линка */
.signin-link {
    position: absolute; /* Позиционирайте го абсолютно */
    top: 20px; /* Задайте го точно в горната част */
    right: 20px; /* Регулирайте хоризонталната позиция */
    color: white; /* Цвят на текста */
    text-decoration: underline; /* Подчертайте текста */
    font-size: 1rem; /* Размер на шрифта */
    z-index: 10; /* Уверете се, че е над другите елементи */
}