body {
    background-color: beige;
}
form {
    border-style: solid;
    border-radius: 15cm;
    border-color:brown;
}
form > div{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
}
form > button {
    margin-left: auto;
    margin-right: auto;
}
button {
    background-color: burlywood;
    border-color: brown;
}
label, div, button, h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#facescan {
    border-style: solid;
    margin: 50px;
    margin-left: 350px;
    margin-right: 350px;
    padding: 50px 150px;
}

#error {
    color: red;
    display: none;
}

