body {
    background-color: antiquewhite;
}

form {
    background-color: azure;
    padding-left: 15%;
    padding-top: 5%;
}

p {
    font-size: 20px;
    color: green;
    font-weight: 500;
}

.paragraf {
    font-size: 30px;
    color: green;
    font-weight: 500;
}

.titlu {
    font-size: 50px;
    color: blue;
}

input[type="text"],
input[type="password"],
input[type="phone"],
input[type="email"],
input[type="date"] {
    border-color: green;
    border-radius: 15px;
    outline: none;
    margin-bottom: 10px;

}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="phone"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
    border-color: orange;
    outline: none;
}